# $Id: CarpMenu.cfg 990 2007-01-21 23:20:51Z sroyalty $
#
#
##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
	//Index Menus
	Title	<center>Carpentry Selection Menu</center>
	Skill	Carpentry
	SkillID	Carpentry

	Group	Furniture
	Group	Containers
	Group	Instruments
	Group	Weapons
	Group	Archery
	Group	Armor
	Group	Miscelaneous
	Group	Addons
}

Craftitem Furniture
{
	Item	Stool
	Item	Bench
	Item	Chair
	Item	CushionedChair
	Item	WoodenChair
	Item	SimpleChair
	Item	Throne
	Item	SmallTable
	Item	FancyTable
	Item	WoodenTable
	Item	WritingDesk
	Item	Counter
}

Craftitem Instruments
{
	Item	Flute
	Item	Tamborine
	Item	TamborineWithRibbon
	Item	Lute
	Item	Drum
	Item	Harp
	Item	StandingHarp
	Item	BambooFlute
}

Craftitem Containers
{
	Item	Bookshelf
	Item	EmptyBookshelf
	Item	Winerack
	Item	BrownArmoire
	Item	CherryArmoire2
	Item	Chestofdrawers
	Item	ChestDrawerDark
	Item	WoodenBox
	Item	WoodenChest
	Item	SmallCrate
	Item	MediumCrate
	Item	LargeCrate
	Item	Barrel
	Item	Keg
	Item	potionkeg
	Item	plainwoodenchest
	Item	ornatewoodenchest
	Item	gildedwoodenchest
	Item	woodenfootlocker
	Item	finishedwoodenchest
	Item	tallcabinet
	Item	shortcabinet
	Item	redarmoire
	Item	elegantarmoire
	Item	maplearmoire
	Item	tokunocherryarmoire
}

Craftitem Miscelaneous
{
	Item	Kindling
	Item	RecallRune
	Item	WoodenShield 
	Item	KiteShieldB1
	Item	ClockFrame
	Item	Torch
	Item	FishingPole
	Item	Broom
}

Craftitem Weapons
{
	Item	ShepherdsCrook
	Item	QuarterStaff
	Item	MageStaff
	Item	GnarledStaff
	Item	BlackStaff
	Item	Club
	Item	WildStaff
	Item	Tetsubo
	Item	Bokuto
	Item	Nunchaku
}

Craftitem Addons
{
	Item	AnvilDeed
	Item	SmallForgeDeed
	Item	TrainingDummyDeed
	Item	PickpocketDipDeed
	Item	SpinningWheelDeed
	Item	BedDeed
	Item	LoomDeed
	Item	MillDeed

}

Craftitem Archery
{
	Item	ArrowShaft
	Item	Bow
	Item	CompositeBow
	Item	Crossbow
	Item	HeavyCrossbow
	Item	RepeatingCrossbow
	Item	Longbow
	Item	Shortbow
	Item	Yumi
}

Craftitem Armor
{
	Item	WoodlandGorget
	Item	WoodlandGauntlets
	Item	WoodlandArms
	Item	WoodlandLeggings
	Item	WoodlandChest
	Item	FemaleWoodlandChest
	Item	RavenHelm
	Item	VultureHelm
	Item	WingedHelm
}

