# $$
#
# Purpose:
# Defines the locations of all item components for each boat 'facing' graphic.
#
# Structure:
# Boat
# {
#   ObjType                     (int boat multi graphic)
#   TillerMan                   (int item graphic) (x offset) (y offset)
#   PortGangplankExtended       (int item graphic) (x offset) (y offset)
#   PortGangplankRetracted      (int item graphic) (x offset) (y offset)
#   StarboardGangplankExtended  (int item graphic) (x offset) (y offset)
#   StarboardGangplankRetracted (int item graphic) (x offset) (y offset)
#   Hold                        (int item graphic) (x offset) (y offset)
# }
#
# Explanation:
# ObjType should be >= 0x11000.
# All the x,y tile distance offsets are from the ship's mast.
# As normal on the map, positive X is east, positive Y is south.
# It doesn't matter what 'facing' of the boat this is for,
# parts of the boat that are east of the mast are defined with positive X values,
# parts south of the mast are defined with positive Y values, and vice versa.

#######################################################
###          Small Boat - 0x11000 to 0x11003          ###
#######################################################

# Small Boat Facing North
Boat
{
    ObjType                     0x11000
    TillerMan                   0x3e4e 1 4
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x3eae 0 -4
}

# Small Boat Facing East
Boat
{
    ObjType                     0x11001
    TillerMan                   0x3e55 -4 0
    PortGangplankExtended       0x3e89 0 -2
    PortGangplankRetracted      0x3e8a 0 -2
    StarboardGangplankExtended  0x3e84 0 +2
    StarboardGangplankRetracted 0x3e85 0 +2
    Hold                        0x3e65 4 0
}

# Small Boat Facing South
Boat
{
    ObjType                     0x11002
    TillerMan                   0x3e4b 0 -4
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x3eb9  0 4
}

# Small Boat Facing West
Boat
{
    ObjType                     0x11003
    TillerMan                   0x3e50 +4 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x3e93 -4 0
}

#######################################################
###       Small Dragon Boat - 0x11004 to 0x11007      ###
#######################################################

# Small Dragon Boat Facing North
Boat
{
    ObjType                     0x11004
    TillerMan                   0x3e4e 1 4
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x3eae 0 -4
}

# Small Dragon Boat Facing East
Boat
{
    ObjType                     0x11005
    TillerMan                   0x3e55 -4 0
    PortGangplankExtended       0x3e89 0 -2
    PortGangplankRetracted      0x3e8a 0 -2
    StarboardGangplankExtended  0x3e84 0 +2
    StarboardGangplankRetracted 0x3e85 0 +2
    Hold                        0x3e65 4 0
}

# Small Dragon Boat Facing South
Boat
{
    ObjType                     0x11006
    TillerMan                   0x3e4b 0 -4
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x3eb9  0 4
}

# Small Dragon Boat Facing West
Boat
{
    ObjType                     0x11007
    TillerMan                   0x3e50 +4 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x3e93 -4 0
}

#######################################################
###          Medium Boat - 0x11008 to 0x1100B         ###
#######################################################

# Medium Boat Facing North
Boat
{
    ObjType                     0x11008
    TillerMan                   0x3e4e 1 5
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x3eae 0 -4
}

# Medium Boat Facing East
Boat
{
    ObjType                     0x11009
    TillerMan                   0x3e55 -5 0
    PortGangplankExtended       0x3e89 0 -2
    PortGangplankRetracted      0x3e8a 0 -2
    StarboardGangplankExtended  0x3e84 0 +2
    StarboardGangplankRetracted 0x3e85 0 +2
    Hold                        0x3e65 4 0
}

# Medium Boat Facing South
Boat
{
    ObjType                     0x1100A
    TillerMan                   0x3e4b 0 -5
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x3eb9  0 4
}

# Medium Boat Facing West
Boat
{
    ObjType                     0x1100B
    TillerMan                   0x3e50 +5 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x3e93 -4 0
}

#######################################################
###      Medium Dragon Boat - 0x1100C to 0x1100F      ###
#######################################################

# Medium Dragon Boat Facing North
Boat
{
    ObjType                     0x1100C
    TillerMan                   0x3e4e 1 5
    PortGangplankExtended       0x3ed5 -2 0
    PortGangplankRetracted      0x3eb1 -2 0
    StarboardGangplankExtended  0x3ed4 2 0
    StarboardGangplankRetracted 0x3eb2 2 0
    Hold                        0x3eae 0 -4
}

# Medium Dragon Boat Facing East
Boat
{
    ObjType                     0x1100D
    TillerMan                   0x3e55 -5 0
    PortGangplankExtended       0x3e89 0 -2
    PortGangplankRetracted      0x3e8a 0 -2
    StarboardGangplankExtended  0x3e84 0 +2
    StarboardGangplankRetracted 0x3e85 0 +2
    Hold                        0x3e65 4 0
}

# Medium Dragon Boat Facing South
Boat
{
    ObjType                     0x1100E
    TillerMan                   0x3e4b 0 -5
    PortGangplankExtended       0x3ed4 +2 0
    PortGangplankRetracted      0x3eb2 +2 0
    StarboardGangplankExtended  0x3ed5 -2 0
    StarboardGangplankRetracted 0x3eb1 -2 0
    Hold                        0x3eb9  0 4
}

# Medium Dragon Boat Facing West
Boat
{
    ObjType                     0x1100F
    TillerMan                   0x3e50 +5 0
    PortGangplankExtended       0x3e84 0 2
    PortGangplankRetracted      0x3e85 0 2
    StarboardGangplankExtended  0x3e89 0 -2
    StarboardGangplankRetracted 0x3e8a 0 -2
    Hold                        0x3e93 -4 0
}

#######################################################
###          Long Boat - 0x11010 to 0x11013           ###
#######################################################

# Long Boat Facing North
Boat
{
    ObjType                     0x11010
    TillerMan                   0x3e4e 1 5
    PortGangplankExtended       0x3ed5 -2 -1
    PortGangplankRetracted      0x3eb1 -2 -1
    StarboardGangplankExtended  0x3ed4 2 -1
    StarboardGangplankRetracted 0x3eb2 2 -1
    Hold                        0x3eae 0 -5
}

# Long Boat Facing East
Boat
{
    ObjType                     0x11011
    TillerMan                   0x3e55 -5 0
    PortGangplankExtended       0x3e89 1 -2
    PortGangplankRetracted      0x3e8a 1 -2
    StarboardGangplankExtended  0x3e84 1 +2
    StarboardGangplankRetracted 0x3e85 1 +2
    Hold                        0x3e65 5 0
}

# Long Boat Facing South
Boat
{
    ObjType                     0x11012
    TillerMan                   0x3e4b 0 -5
    PortGangplankExtended       0x3ed4 +2 1
    PortGangplankRetracted      0x3eb2 +2 1
    StarboardGangplankExtended  0x3ed5 -2 1
    StarboardGangplankRetracted 0x3eb1 -2 1
    Hold                        0x3eb9  0 5
}

# Long Boat Facing West
Boat
{
    ObjType                     0x11013
    TillerMan                   0x3e50 +5 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x3e93 -5 0
}

#######################################################
###       Long Dragon Boat - 0x11014 to 0x11017       ###
#######################################################

# Long Dragon Boat Facing North
Boat
{
    ObjType                     0x11014
    TillerMan                   0x3e4e 1 5
    PortGangplankExtended       0x3ed5 -2 -1
    PortGangplankRetracted      0x3eb1 -2 -1
    StarboardGangplankExtended  0x3ed4 2 -1
    StarboardGangplankRetracted 0x3eb2 2 -1
    Hold                        0x3eae 0 -5
}

# Long Dragon Boat Facing East
Boat
{
    ObjType                     0x11015
    TillerMan                   0x3e55 -5 0
    PortGangplankExtended       0x3e89 1 -2
    PortGangplankRetracted      0x3e8a 1 -2
    StarboardGangplankExtended  0x3e84 1 +2
    StarboardGangplankRetracted 0x3e85 1 +2
    Hold                        0x3e65 5 0
}

# Long Dragon Boat Facing South
Boat
{
    ObjType                     0x11016
    TillerMan                   0x3e4b 0 -5
    PortGangplankExtended       0x3ed4 +2 1
    PortGangplankRetracted      0x3eb2 +2 1
    StarboardGangplankExtended  0x3ed5 -2 1
    StarboardGangplankRetracted 0x3eb1 -2 1
    Hold                        0x3eb9  0 5
}

# Long Dragon Boat Facing West
Boat
{
    ObjType                     0x11017
    TillerMan                   0x3e50 +5 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5bf7 -9 0
}

#######################################################
###          Orc Ship - 0x11018 to 0x1101b          ###
#######################################################


Boat
{
    ObjType                     0x11018
    TillerMan                   0x79a5  0 7
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c2d  0 9
}

Boat
{
    ObjType                     0x11019
    TillerMan                   0x7b9a -7 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5bf7 -9 0
}

Boat
{
    ObjType                     0x1101a
    TillerMan                   0x75bd  0 -7
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c63  0 -9
}

Boat
{
    ObjType                     0x1101b
    TillerMan                   0x77b1  7 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c99  9 0
}

#######################################################
###       Gargoyle Ship  - 0x11024 to 0x11027       ###
#######################################################


Boat
{
    ObjType                     0x11024
    TillerMan                   0x85a0  0 2
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c2d  0 9
}

Boat
{
    ObjType                     0x11025
    TillerMan                   0x86ce -2 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5bf7 -9 0
}

Boat
{
    ObjType                     0x11026
    TillerMan                   0x8344  0 -2
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c63  0 -9
}

Boat
{
    ObjType                     0x11027
    TillerMan                   0x8472  2 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c99  9 0
}

#######################################################
###        Tokuno Ship  - 0x11030 to 0x11033        ###
#######################################################


Boat
{
    ObjType                     0x11030
    TillerMan                   0x9316  0 7
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c2d  0 9
}

Boat
{
    ObjType                     0x11031
    TillerMan                   0x9318 -7 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5bf7 -9 0
}

Boat
{
    ObjType                     0x11032
    TillerMan                   0x9312  0 -7
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c63  0 -9
}

Boat
{
    ObjType                     0x11033
    TillerMan                   0x9314  7 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c99  9 0
}



#######################################################
###      Britannian Ship  - 0x11040 to 0x11043      ###
#######################################################


Boat
{
    ObjType                     0x11040
    TillerMan                   0x5c0c  0 3
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c2d  0 9
}

Boat
{
    ObjType                     0x11041
    TillerMan                   0x5bd6 -3 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5bf7 -9 0
}

Boat
{
    ObjType                     0x11042
    TillerMan                   0x5c42  0 -3
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c63  0 -9
}

Boat
{
    ObjType                     0x11043
    TillerMan                   0x5c78  3 0
    PortGangplankExtended       0x3e84 -1 2
    PortGangplankRetracted      0x3e85 -1 2
    StarboardGangplankExtended  0x3e89 -1 -2
    StarboardGangplankRetracted 0x3e8a -1 -2
    Hold                        0x5c99  9 0
}
