/////////////////////////////////////////////////////////////////////////////
//
//  ITEMDESC.CFG - Item Definitions
//
//  Descriptors for Items, Containers, and Doors go here.
//
//  ITEM: The following may be specified for an Item:
//		Name            name key (used only by GetObjtypeByName)
//                    - should be one word
//		Color           starting color
//		DecayTime       # of minutes before item decays (default is 10)
//		Desc            description (see special rules)
//		Graphic         display graphic (defaults to objtype)
//		Invisible       if 1, this objtype is never seen.
//		Lockable        is this item lockable
//		Movable         is this movable by default? default: use client files
//		RequiresAttention   block other actions until script detaches?
//		Script          script to run on double-click
//		VendorBuysFor   base price vendors buy this for
//		VendorSellsFor  base price vendors sell this for
//		WalkOnScript    script to start on walk-on
//		Weight          weight, in stones
//		ControlScript   script to start on item creation, and on system load
//		CreateScript    script to start on item creation
//		DestroyScript   run-to-completion script to run on destruction
//		SaveOnExit      1/0 - should the item be saved.
//		DoubleclickRange how close you have to be to use (default 1)
//		Tooltip         tooltip text (maximum 256 characters)
//		StrRequired     Strength required to equip this
//		Newbie          Is this object type flagged 'newbie' by default
//		BlocksCastingIfInHand  If this is in your hands, can you no longer cast?
//
//  CONTAINER: Everything that Item can have, plus:
//      Gump            gump to display on container open
//      MinX            --\
//      MaxX            ---  These define the legal bounds for items,
//      MinY            ---  within the display gump.
//      MaxY            --/
//
//  DOOR: Everything that Item can have, plus:
//      xmod            X modifier to door position to open/close     
//      ymod            Y modifier to door position to open/close
//	doortype        wood/metal, used for determing sound.
//
//  Special rules for 'Desc' property:
//      TODO: describe - same format as 'name' field in tiledata.mul
//
/////////////////////////////////////////////////////////////////////////////



///////////////////
//general items
///////////////////

# ankh sn part 1/2
Item 0x2
{
	Name			ankh1a
	script
	movable		0
}

# ankh sn part 2/2
Item 0x3
{
	Name			ankh1b
	script
	movable		0
}

# ankh we part 1/2
Item 0x4
{
	Name			ankh2a
	script
	movable		0
}

# ankh we part 2/2
Item 0x5
{
	Name			ankh2b
	script
	movable		0
}

# ankh sacrifice sn part 1/2
Item 0x1d97
{
	Name			ankh3a
	script
	movable		0
}

# ankh sacrifice sn part 2/2
Item 0x1d98
{
	Name			ankh3b
	script
	movable		0
}

# ankh sacrifice we part 1/2
Item 0x1e5c
{
	Name			ankh4a
	script
	movable			0
}

# ankh sacrifice we part 2/2
Item 0x1e5d
{
	Name			ankh4b
	script
	movable		0
}

Item 0x1E5E
{
	Name			Messageboard
	Script		mboard
}

Item 0x14F1
{
	Name			shipdeed
	Script		shipdeed
}

Item 0x14F2
{
	Name			shipdeed2
	Script		shipdeed
}




///////////////////
//  Magic items and reagents
///////////////////

Item 0x1f14
{
	Name				recallrune
	Script			rune
	VendorSellsFor		4
	VendorBuysFor		2
	RequiresAttention	0
	Weight			1/2
}

Item 0x1f15
{
	Name				recallrune2
	Script			rune
	VendorSellsFor		2
	VendorBuysFor		1
	RequiresAttention	0
}

Item 0x0F78
{
	Name			BatWing
	Weight		1/100
}
Item 0x0F79
{
	Name			BlackMoor
	Weight		1/100
}

Item 0x0F7A
{
	Name			BlackPearl
	VendorSellsFor	3
	VendorBuysFor	1
	Weight		1/100
}

Item 0x0F7B
{
	Name			BloodMoss
	VendorSellsFor	3
	VendorBuysFor	1
	Weight		1/100
}

Item 0x0F7C
{
	Name			BloodSpawn
	Weight		1/100
}

Item 0x0F7D
{
	Name			VialOfBlood
	Weight		1/100
}
Item 0x0F7E
{
	Name			Bone
	Weight		1/100
}
Item 0x0F7F
{
	Name			Brimstone
	Weight		1/100
}

Item 0x0F80
{
	Name			DaemonBone
	Weight		1/100
}

Item 0x0F81
{
	Name			FertileDirt
	Weight		1/100
}

Item 0x0F82
{
	Name			DragonsBlood
	Weight		1/100
}

Item 0x0F83
{
	Name			ExecutionersCap
	Weight		1/100
}

Item 0x0F84
{
	Name			Garlic
	VendorSellsFor	3
	VendorBuysFor	1
	Weight		1/100
}

Item 0x0F85
{
	Name			Ginseng
	VendorSellsFor	3
	VendorBuysFor	1
	Weight		1/100
}

Item 0x0F86
{
	Name			MandrakeRoot
	VendorSellsFor	3
	VendorBuysFor	1
	Weight		1/100
}

Item 0x0F87
{
	Name			EyeOfNewt
	Weight		1/100
}

Item 0x0F88
{
	Name			NightShade
	VendorSellsFor	3
	VendorBuysFor	1
	Weight		1/100
}

Item 0x0F89
{
	Name			Obsidian
	VendorSellsFor	475
	Weight		1/50
}

Item 0x0F8A
{
	Name			PigIron
	Weight		2
	Weight		1/50
}

Item 0x0F8C
{
	Name			SulphurousAsh
	VendorSellsFor	3
	VendorBuysFor	1
	Weight		1/100
}

Item 0x0F8D
{
	Name			SpiderSilk
	VendorSellsFor	3
	VendorBuysFor	1
	Weight		1/100
}

Item 0x0F8E
{
	Name			SerpentScales
	Weight		1/100
}

Item 0x0F8F
{
	Name			VolcanicAsh
	Weight		1/100
}

Item 0x0F90
{
	Name			Deadwood
	Weight		1/100
}

Item 0x0F91
{
	Name			WyrmHeart
	Weight		1/100
}


///////////////////
//  Containers
///////////////////


Container 0xFF01
{
	Name				SecureTradeContainer
	graphic			0x1E5E
	Gump				0x003C
	MinX				0
	MaxX				66
	MinY				0
	MaxY				33
	Weight			0
	MaxItems			60000
	MaxWeight			60000
}




///////////////////
//  Clothing
/////////////////// 

//pants, etc. moved to combat\itemdesc
//tops moved to combat\itemdesc
//hats moved to combat\itemdesc


Item 0x0e27
{
	Name			hairtonic
	desc			hair tonic
	Script		hairtonic
	VendorSellsFor	50
	VendorBuysFor	25
}

Item 0x1372
{
	Name			Brush
	script		bladed
	VendorBuysFor	7
	VendorSellsFor	15
}

Item 0x7055
{
	Name			straightrazor
	desc			straight razor
	script		bladed
	graphic		0x10e5
	VendorSellsFor	12
	VendorBuysFor	5
}




///////////////////
//  Keys
///////////////////

Item 0x100e
{
	Name			ironkey
	Script		key
	Newbie		1
	VendorSellsFor	9
	Weight		1/10
}

Item 0x100f
{
	Name			goldkey
	Script		key
	Newbie		1
	VendorSellsFor	9
	Weight		1/10
}

Item 0x1012
{
	Name			magickey
	Script		key
	facing		1
	Newbie		1
	Weight		1/10
}

Item 0x1013
{
	Name			rustykey
	Script		key
	Newbie		1
	VendorSellsFor	9
	Weight		1/10
}

Item 0x1011
{
	Name			keyring
	Script		key
	Newbie		1
	VendorSellsFor	12
	DestroyScript	:doors:keyringdestroy
}




///////////////////
//  Gems
///////////////////

Item 0x0F0F
{
	Name			starsapphire
	VendorSellsFor	150
	VendorBuysFor	75
	Weight		1/50
}

Item 0x0F10
{
	Name			emerald
	VendorSellsFor	120
	VendorBuysFor	60
	Weight		1/50
}

Item 0x0F11
{
	Name			sapphire
	VendorSellsFor	120
	VendorBuysFor	60
	Weight		1/50
}

Item 0x0F13
{
	Name			ruby
	VendorSellsFor	90
	VendorBuysFor	45
	Weight		1/50
}

Item 0x0F15
{
	Name			citrine
	VendorSellsFor	60
	VendorBuysFor	30
	Weight		1/50
}

Item 0x0F16
{
	Name			amethyst
	VendorSellsFor	120
	VendorBuysFor	60
	Weight		1/50
}

Item 0x0F18
{
	Name			tourmaline
	VendorSellsFor	90
	VendorBuysFor	45
	Weight		1/50
}

Item 0x0F25
{
	Name			amber
	VendorSellsFor	60
	VendorBuysFor	30
	Weight		1/50
}

Item 0x0F30
{
	Name			diamond
	VendorSellsFor	240
	VendorBuysFor	120
	Weight		1/50
}


/////////////////////////////////////////////////////////////////////////////
//              ObjTypes 0x4000 - 0x4FFF - Reserved for Multis             //
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
//              ObjTypes 0x5000 - 0xEDFF - User-Defined  ( ?? )            //
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
//              ObjTypes 0xF000 - 0xFFFF - Reserved by System              //
/////////////////////////////////////////////////////////////////////////////




///////////////////
//  misc. items
///////////////////

Item 0x5015
{
	Name			wristwatch
	Desc			wristwatch
	Graphic		0x1086
	Script		time
	VendorSellsFor	30
	VendorBuysFor	15
}

# 6001 is a blankmap in cartography


//
// 0x6003 to 0x6007 - treasure maps
// 0x6008 - digging tool (treasuremap)
// 0x6009 to 0x6018 - in mining (smelting)
// 0x6019 to 0x6026 - deeds in housing pkg
//

Item 0x122d
{
	Name			blood
	controlscript	control_blood
	SaveOnExit	0
	movable		0
}

Item 0xbf01
{
	name			stickyweb
	graphic		0xee4
	WalkonScript	walkonweb
	ControlScript	spiderwebcontrol
	movable		0
}

// 0x7008 - npcs/townfolk/merchants - playervendordeed

Item 0x0f3c
{
	Name			poop
	desc			horsedung
	DecayOnMultis	1
	controlscript	control_blood
	SaveOnExit	0
}

Item 0x0F0E
{
	Name			EmptyBottle
	VendorSellsFor	12
	VendorBuysFor	0
	Weight		1/4
}

Item 0x186E
{
	Name			RedVirtueStone
}

Item  0x1057
{
	Name			Sextant
	Script		coords
	VendorSellsFor	85
	VendorBuysFor	32
	Weight		1/2
}

Item 0x104c
{
	Name			clock
	Script		time
	VendorSellsFor	87
	VendorBuysFor	48
}

Item 0x0E17
{
	Name			Cards
}

Item 0x1d9f
{
	Name			Torso
}


# System teleporter
Item 0x6200
{
	Name			systemteleporter
	Graphic		0x1FD4
	WalkOnScript	dungtele
	Movable		0
	Invisible		1
	SaveOnExit	0
# A dungeon teleporter should have these custom props:
# (set by the creationscript)
#   CProp DestX     i0
#   CProp DestY     i0
#   CProp DestZ     i0
}

//Appears to be unused - I hope
Item 0x6002
{
	Name			moongate
	Graphic		0x0F6C
	SaveOnExit	0
}

# .maketele created teleporters
Item 0x6203
{
	Name			dungtele
	Graphic		0x1FD4
	WalkOnScript	makedtele
	Movable		0
	Invisible		1
	SaveOnExit	1
# A dungeon teleporter should have these custom props:
# (set by the creationscript)
#   CProp DestX     i0
#   CProp DestY     i0
#   CProp DestZ     i0
}

//These are the gates used in the gate spell
Item 0x0F6C
{
	Name			bluemoongate
	WalkOnScript	moongate
	SaveOnExit	0
	Movable		0
}

Item 0x1371
{
	Name			ScrubBrush
	Script		scrubbrush
	VendorSellsFor	50
	VendorBuysFor	20
}



///////////////////
//  Outdated items
///////////////////

Item 0x0FA9
{
	Name			dyes
	script		:cooking:eat
	VendorSellsFor	10
}

Item 0x0FAB
{
	Name			dyetub
	script		:cooking:eat
	VendorSellsFor	20
}




///////////////////
//  Items required by POL core
///////////////////

Item 0xF021
{
	name			mount
	graphic		1
}

Container 0xFF02
{
	Name			WornItemsContainer
	graphic		0x1E5E
	Gump			0x003C
	MinX			0
	MaxX			66
	MinY			0
	MaxY			33
	Weight		0
	MaxItems		65535
	Maxweight		65535
}
